@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.font-change {
  font-family: "Capriola", sans-serif;
}

/*---European banner--*/
.eu-banner {
  padding: 0px;
}
.eu-banner img {
  width: 100%;
  height: auto;
  padding: 0;
}

/*---Navbar---*/

#navigation {
  background-color: #14b9d5 !important;
  min-height: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-eulink {
  margin: auto;
}

.nav-eulink a {
  color: white;
  font-size: 20px;
}

.eu-dropdown {
    background-color: #14b9d5;
}

.dropdown-alignment {
    padding: 10px 10px 0 0;
}

.logo {
  font-size: 30px;
}

.logo span {
  color: white;
}
.logo img {
  margin-right: 10px;
}

#dest {
  position: absolute;
  width: 500px;
  min-height: 150px;
  background-image: linear-gradient(white 25%, #14b9d5);

  z-index: 2;
  top: 90px;
  left: 389px;
  font-size: 18px;
}
.arrow-up {
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-bottom: 20px solid white;

  top: 70px;
  left: 440px;
  z-index: 4;
}

.dest-link {
  text-align: center;
}
.dest-img {
  display: block;
  clear: both;
  justify-content: center;
  margin: auto;
}
.dest-top {
  margin-top: 20px;
}

.dest-bottom {
  margin-bottom: 10px;
  margin-top: 10px;
}
#dest a {
  color: #07307e;
  letter-spacing: 1px;
}
/*---body---*/

#slogan h2 {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  color: #f9ca3a;
}

#slogan {
  margin-bottom: 30px;
}

.centre {
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
  height: 350px;
  border-radius: 10px;
}

.selling-point h4 {
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.btn-can a {
  margin-left: 32%;
  margin-bottom: 15px; /*---for moblie---*/
}

.effiel {
  background-image: url(../images/tower-eiffel-tower-paris-france-architecture-europe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.nature {
  background-image: url(../images/shpe5968971.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.art {
  background-image: url(../images/shutterstock_331790432-870x400.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.all-selling-points {
  margin-bottom: 25px;
}

#about-europe {
  min-width: 500px;
  min-height: 300px;
  border: 3px solid #212126;
  color: #404040;
  margin-bottom: 15px;
}

#about-europe h5 {
  margin: 5px 0 5px 20px;
}

#about-europe p {
  margin: 0px 0px 5px 20px;
  padding: 10px 30px 20px 0;
}

.map h4 {
  text-align: center;
  display: block;
  clear: both;
}

#eu-map {
  height: 250px;
  width: 400px;
  border: springgreen solid 3px;
  margin: auto;
  margin-bottom: 10px;
}

/*---Footer---*/
.eu-footer {
  min-height: 80px;
  background-color: #14b9d5;
}
.footer-title h5 {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.all-icon {
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

.all-icon li,
.all-icon a {
  font-size: 15px;
  color: white;
}

/*---media queries---*/

@media screen and (max-width: 450px) {
  .btn-can {
    padding-right: 60px;
    margin-bottom: 15px;
    padding-left: 0;
  }

  #eu-map {
  width: 300px;
  margin-bottom: 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1050px ) {
#eu-map {
  width: 200px;
  margin-bottom: 15px;
  }
}
